{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pc-container">
    <div class="pc-content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Department Information</h4>
                    <form method = "POST">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Department Name -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="departmentName" class="form-label">Department Name:</label>
                                    <input type="text" class="form-control form-control-sm" name = "d_name" id="departmentName" placeholder="Enter department name">
                                </div>
                            </div>
                            
                            

                            <!-- Description -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="departmentDescription" class="form-label">Description:</label>
                                    <textarea class="form-control form-control-sm" name = "description" id="departmentDescription" rows="6" placeholder="Enter department description"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary btn-sm">Create Department</button>
                            <button type="button" class="btn btn-secondary btn-sm">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}