{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container py-5 ">
     <div class="pc-content">
        <div class="d-flex justify-content-center align-items-center vh-30 ml-20"></div>
    <div class="card shadow-lg p-4 mx-auto mt-5 " style="max-width: 900px; width: 100%;">
        <h2 class="text-center text-dark mb-4">Module Details</h2>

        <!-- Project Info -->
        <div class="row mb-3 ">
            <div class="col-md-6">
                <label class="form-label fw-bold">Module Name:
                    <span class="fw-normal">Design Home Page</span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Module Status:
                    <span class="text-warning fw-bold">In Progress</span>
                </label>
            </div>
        </div>

        <!-- Assign Date & Due Date -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-bold">Assign Date:
                    <span class="fw-normal">2024-03-01</span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Due Date:
                    <span class="text-danger fw-bold">2024-03-10</span>
                </label>
            </div>
        </div>

        <!-- Assigned By & Priority -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-bold">Assigned By:
                    <span class="fw-normal">Naveen Taneja</span>
                </label>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Priority:
                    <span class="text-danger fw-bold">High</span>
                </label>
            </div>
        </div>

        <!-- Completion & Module Description -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-bold">Completion:</label>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar"
                        style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        60%
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label fw-bold">Module Description:</label>
                <p class="fw-normal mb-0">Create modals of Task Management System</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'show_module' %}" class="btn btn-secondary">Back</a>
        </div>

    </div>
</div>
 </div>
 




<script src="{% static 'Javascript/module/showModule.js' %}"></script>

{% endblock %}