{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <link rel="stylesheet" href="{% static 'css/tabler-icons.min.css '%}" >
    <link rel="stylesheet" href="{% static 'css/feather.css' %}" >
    <link rel="stylesheet" href="{% static 'css/fontawesome.css'%}" >
    <link rel="stylesheet" href="{% static 'css/material.css'%}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="main-style-link" >
    <link rel="stylesheet" href="{% static 'css/style-preset.css' %}" >
</head>
<body>
    <nav class="pc-sidebar">
        <div class="navbar-wrapper">
          <div class="m-header">
            <a href="{% url 'index'%}" class="b-brand text-primary">
                <div class="d-flex">
                    <img src="{% static 'Png/—Pngtree—mv vm letter vector logo_5249394.png' %}" alt="Tasks Icon" width="20" height="20" class="img-fluid " alt="logo">
                    <h4 class="text-end">Mind Aviator</h4>
                    </div>
              <!-- ========   Change your logo from here   ============ -->
    
            </a>
          </div>
          <div class="navbar-content">
            <ul class="pc-navbar">
              <li class="pc-item">
                <a href="{% url 'index'%}" class="pc-link">
      
                  <span class="pc-micon">
                    <img src="{% static 'Png/dashboard.png' %}" alt="Tasks Icon" width="20" height="20"></i></span>
                  <span class="pc-mtext text-dark">Dashboard</span>
                </a>
              </li>
              <li class="pc-item pc-caption">
                <label>ADMIN</label>
                <i class="ti ti-brand-chrome"></i>
              </li>

              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/to-do-list.png' %}" alt="Tasks Icon" width="20" height="20">
                  </i></span><span class="pc-mtext">Tasks</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'task' %}">Tasks</a></li>
                          <li class="pc-item"><a class="pc-link" href="{% url 'create_task' %}">Create Tasks</a></li>
                          
                </ul>
              </li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/project.png' %}" alt="Tasks Icon" width="20" height="20"></i></span><span class="pc-mtext">Projects</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'project' %}">Project</a></li>
                          <li class="pc-item"><a class="pc-link" href="{% url 'create_project' %}">Create Projects</a></li>
                          
                </ul>
              </li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/cube.png' %}"alt="Tasks Icon" width="20" height="20"> </i></span><span class="pc-mtext">Module</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'module' %}">Module</a></li>
                          <li class="pc-item"><a class="pc-link" href="{% url 'create_module' %}">Create Module</a></li>
                          
                </ul>
              </li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/networking.png' %}" alt="Tasks Icon" width="20" height="20"></i></span><span class="pc-mtext">Department</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'department' %}">Department</a></li>
                          <li class="pc-item"><a class="pc-link" href="#!"></a></li>
                </ul>
              </li>
              
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/setting.png' %}"  alt="Tasks Icon" width="20" height="20"></i></span><span class="pc-mtext">Role</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'role' %}">Role</a></li>
                          <li class="pc-item"><a class="pc-link" href="#!"></a></li>
                </ul>
              </li>

              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/access-granted.png' %}" alt="Tasks Icon" width="20" height="20"></i></span><span class="pc-mtext">Permission</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'permission' %}">Permission</a></li>
                          <li class="pc-item"><a class="pc-link" href="#!"></a></li>
                </ul>
              </li>

              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/profile-user.png' %}" alt="Tasks Icon" width="20" height="20"></i></span><span class="pc-mtext">Users</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'user' %}">User</a></li>
                          <li class="pc-item"><a class="pc-link" href="{% url 'create_user'%}">Create User</a></li>
                          
                </ul>
              </li>
              <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link"><span class="pc-micon">
                  <img src="{% static 'Png/log.png.jpg' %}" alt="Tasks Icon" width="20" height="20"></i></span><span class="pc-mtext">Logs</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                <ul class="pc-submenu">
                          <li class="pc-item"><a class="pc-link" href="{% url 'log' %}">Log Activity</a></li>     
                </ul>
            </li>
              <li class="pc-item pc-caption">
                
                <i class="ti ti-news"></i>
              </li>
              <li class="pc-item">
                <a href="../pages/login.html" class="pc-link">
                  
                </a>
              </li>
              <li class="pc-item">
                <a href="../pages/register.html'" class="pc-link">
                 
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header class="pc-header">
        <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
      <div class="me-auto pc-mob-drp">
        <ul class="list-unstyled">
          <!-- ======= Menu collapse Icon ===== -->
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
          <li class="dropdown pc-h-item d-inline-flex d-md-none">
            <a
              class="pc-head-link dropdown-toggle arrow-none m-0"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <i class="ti ti-search"></i>
            </a>
            <div class="dropdown-menu pc-h-dropdown drp-search">
              <form class="px-3">
                <div class="form-group mb-0 d-flex align-items-center">
                  <i data-feather="search"></i>
                  <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                </div>
              </form>
            </div>
          </li>
          <li class="pc-h-item d-none d-md-inline-flex">
            <form class="header-search">
              <i data-feather="search" class="icon-search"></i>
              <input type="search" class="form-control" placeholder="Search here. . .">
            </form>
          </li>
        </ul>
      </div>
      <!-- [Mobile Media Block end] -->
      <div class="ms-auto">
        <ul class="list-unstyled">
          <li class="dropdown pc-h-item">
            <a
              class="pc-head-link dropdown-toggle arrow-none me-0"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <i class="ti ti-mail"></i>
            </a>
            <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
              <div class="dropdown-header d-flex align-items-center justify-content-between">
                <h5 class="m-0">Message</h5>
                <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-x text-danger"></i></a>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
                <div class="list-group list-group-flush w-100">
                  <a class="list-group-item list-group-item-action">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img src="{% static 'images/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar">
                      </div>
                      <div class="flex-grow-1 ms-1">
                        <span class="float-end text-muted">3:00 AM</span>
                        <p class="text-body mb-1">It's <b>Cristina danny's</b> birthday today.</p>
                        <span class="text-muted">2 min ago</span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="text-center py-2">
                <a href="#!" class="link-primary">View all</a>
              </div>
            </div>
          </li>
          <li class="dropdown pc-h-item header-user-profile">
            <a
              class="pc-head-link dropdown-toggle arrow-none me-0"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="false"
              data-bs-auto-close="outside"
              aria-expanded="false"
            >
            <img src="{% static 'images/user/avatar-2.jpg' %}" alt="user-image" class="user-avatar">
              <span>Admin</span>
            </a>
            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
              <div class="dropdown-header">
                <div class="d-flex mb-1">
                  <div class="flex-shrink-0">
                    <img src="{% static 'images/user/avatar-2.jpg' %}" alt="user-image" class="user-avtar wid-35">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="mb-1">Admin</h6>
                    <span>Admin</span>
                  </div>
                  <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-power text-danger"></i></a>
                </div>
              </div>
              <ul class="nav drp-tabs nav-fill nav-tabs" id="mydrpTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="drp-t1"
                    data-bs-toggle="tab"
                    data-bs-target="#drp-tab-1"
                    type="button"
                    role="tab"
                    aria-controls="drp-tab-1"
                    aria-selected="true"
                    ><i class="ti ti-user"></i> Profile</button
                  >
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="drp-t2"
                    data-bs-toggle="tab"
                    data-bs-target="#drp-tab-2"
                    type="button"
                    role="tab"
                    aria-controls="drp-tab-2"
                    aria-selected="false"
                    ><i class="ti ti-settings"></i> Setting</button
                  >
                </li>
              </ul>
              <div class="tab-content" id="mysrpTabContent">
                <div class="tab-pane fade show active" id="drp-tab-1" role="tabpanel" aria-labelledby="drp-t1" tabindex="0">
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-edit-circle"></i>
                    <span>Edit Profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-user"></i>
                    <span>View Profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-clipboard-list"></i>
                    <span>Social Profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-wallet"></i>
                    <span>Billing</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-power"></i>
                    <span>Logout</span>
                  </a>
                </div>
                <div class="tab-pane fade" id="drp-tab-2" role="tabpanel" aria-labelledby="drp-t2" tabindex="0">
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-help"></i>
                    <span>Support</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-user"></i>
                    <span>Account Settings</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-lock"></i>
                    <span>Privacy Center</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-messages"></i>
                    <span>Feedback</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="ti ti-list"></i>
                    <span>History</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
       </div>
    </header> 
    
    {% block content %}
    {% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'Javascript/apexcharts.min.js' %}"></script>
      <script src="{% static 'Javascript/dashboard-default.js' %}"></script>
      <script src="{% static 'Javascript/popper.min.js' %}"></script>
      <script src="{% static 'Javascript/simplebar.min.js' %}"></script>
      <script src="{% static 'Javascript/bootstrap.min.js' %}"></script>
      <script src="{% static 'Javascript/custom-font.js' %}"></script>
      <script src="{% static 'Javascript/pcoded.js' %}"></script>
      <script src="{% static 'Javascript/feather.min.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     
</body>
</html>
